html { 
  background: url(../images/bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}


.prof-box{
	width: 450px;
	height: 450px;
	background: rgba(0,0,0,0.5);
	padding:40px;
	color:white;
	   backdrop-filter: blur(14px);
         background-repeat: no-repeat;
background-size: 50%;
margin:0 auto;
margin-top: 100px;
text-align: left;
}
.prof-pic{
	border-radius:60%;
	height:168px;
	width:190px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
h1{
	text-align: center;
	font-weight: 100;
	letter-spacing: 3;
	font-size: 40px;
	font-family: Times New Roman Georgia;
}
h5{
		text-align: center;
				font-weight: 900;
				font-style: oblique;
				font-family: Times New Roman Georgia;




}
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.social_icons a{
	color:white;

}

.line-break{
	width: 460px;
	border-top: 0.8px solid white;
	margin:0,auto;
vertical-align:middle;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99; radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.fa-facebook:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced; radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.fa-twitter:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}


.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4; radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.fa-linkedin:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}


.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #FF0000; radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.fa-instagram:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

